/*---------------------------------------------------------------------------HEADER*/
header nav ul li a {
	color: gray; }

.menu h3 {
	color: gray;
}

header .menu {
	padding: 0 10%;
}
/*---------------------------------------------------------------------------BANNER*/
header .background-img {
	background-image: url("../img/home.jpg");
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	margin: 0 auto 10% auto;
}

header .frase {
	color: white;
	margin: 0;
	 padding-top: 9%;
    padding-bottom: 18%;
}

.header-button p {
	color: black;
	width: 90%;
	margin-left: 0 }

.header-button button {
	 background-color: rgba(84,126,183,0.8);
    border-radius: 7px;
    padding: 5px 15px;
    font-size: 100%;
    color: white;
    margin-bottom: 8%;
    margin: 0 40%;  }
/*---------------------------------------------------------------------DOCUMENTAL*/
.documental h2 {
	margin-bottom: 4%; }

.documental h3 {
	margin-bottom: 5%; }

/*----------------------------------------------------------------------HACKATHON*/
.hackathon {
	margin-top: 5%;
	background-color: yellow;  }

.hackathon img {
	height: 250px;
	
}